<p class="fw-bold text-center mb-0">Select a start date & end date</p>
<p class="fw-bold text-center m-0">by clicking on the calendar</p>

<%= simple_form_for ([@flat, @booking]) do |f| %>
  <%= f.error_notification %>
  <%= f.input :start_date, as: :string, input_html: {data: {"calendar-target": "start_date" }} %>
  <%= f.input :end_date, as: :string, input_html: {data: {"calendar-target": "end_date" }} %>
  <%= f.input :num_guests, collection: 1..@flat.num_occupants %>
  <%= f.button :submit %>
<% end %>
