<div class = "container my-3">
  <%= simple_form_for (@flat) do |f| %>
    <h1>Update listing</h1>
    <div class="container">
      <%= f.input :name %>
      <div class="d-flex">
        <div class="col-xl-4 m-1 border border-light border-4 rounded-3 p-2">
          <%= f.input :description, style:"height: 300px" %>
        </div>
        <div class="col-xl-4 m-1 border border-light border-4 rounded-3 p-2">
          <%= f.input :location %>
          <%= f.input :price %>
          <%= f.input :num_occupants %>
          <%= f.input :num_bedroom %>
          <%= f.input :num_bathroom %>
        </div>
        <div class="col-xl-4 m-1 border border-light border-4 rounded-3 p-2">
          <%= f.association :amenities, as: :check_boxes %>
          <%= f.simple_fields_for :amenities do |c| %>
            <%= c.input :name, label: "Add amendity", required: false  %>
          <% end %>
        </div>
      </div>
    </div>
    <div>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <div class="border border-solid row m-2 ">
        <div class="flex-grow-1 col-12 col-md-6">
          <% if @flat.photos.first.nil? %>
            <%= cl_image_tag( "goldgate.jpg", class:"round-img p-0 img-fluid") %>
          <% else %>
            <%= cl_image_tag(@flat.photos.first.key, class:"img-fluid") %>
          <% end %>
        </div>
        <div class="col-md-6">
          <div class="row">
            <% @flat.photos.each do |photo| %>
            <div class="card col-6" >
              <%= cl_image_tag photo.key, class: "img-card-show" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>
    <div class="footer fixed-bottom">
      <div class="footer-left">
        <p class="mb-0">© 2022 Fakebnb, Inc.</p>
      </div>
      <div class="footer-right d-flex">
          <%= button_tag(type: 'submit', class: "btn bg-transparent text-danger") do %>
            <i class="fa-solid fa-check"></i> Update
          <% end %>
      </div>
    </div>
  <% end %>
