<div class ="container my-3">
  <!-- Show edit/delete buttons if you're the host of the listing -->
  <div>
    <% if policy(@flat).edit? %>
      <%= link_to "Edit Listing", edit_flat_path(@flat), class: "btn btn-outline-white text-danger" %>
      <%= link_to "Delete Listing", flat_path(@flat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-outline-white text-danger" %>
    <% end %>
  </div>

  <!-- PHOTOS -->
  <div class="container row mt-4">
  <div class="row p-0 m-0">
    <!-- Big image Wrapper -->
    <div class="col-5">
      <% if @flat.photos.first.nil? %>
        <%= cl_image_tag( "goldgate.jpg", class:"round-img p-0 img-fluid") %>
      <% else %>
        <%= cl_image_tag(@flat.photos.first.key, class:"round-img img-fluid") %>
      <% end %>
    </div>

    <!-- Smaller image Wrapper -->
    <div class="col-7">
      <div class="row">
        <% @flat.photos.each do |photo| %>
          <div class="card col-auto" >
            <%= cl_image_tag photo.key, class: "round-img cards-img-size p-0 mb-2 mx-0" %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
  <!-- DETAILS SECTION -->
  <div class="flat-details container border rounded-3 shadow-sm mt-5 py-4 px-5 bg-light">
    <h1 class="d-flex justify-content-center"><%= @flat.name %></h1>

    <div class="container border rounded-3 py-4 d-flex justify-content-around">
      <p class="flat-description m-0"><%= @flat.description %></p>

      <div class="m-0">
        <h2>Info</h2>
        <ul class="flat-info">
          <li><i class="fa-solid fa-location-dot"></i> <%= @flat.location %></li>
          <li><i class="fa-solid fa-dollar-sign"></i> <%= @flat.price %> SGD per night</li>
          <li><i class="fa-solid fa-person"></i> <%= @flat.num_occupants %> max occupants</li>
          <li><i class="fa-solid fa-bed"></i> <%= @flat.num_bedroom %> bedrooms</li>
          <li><i class="fa-solid fa-sink"></i> <%= @flat.num_bathroom %> bathrooms</li>
          <li><i class="fa-solid fa-hotel"></i> Host: <%= "#{@flat.user.first_name}  #{@flat.user.last_name}" %></li>
        </ul>
      </div>

      <div class="m-0">
        <h2>Amenities</h2>
          <% @flat.amenities.each do |amenity| %>
            <p><i class="fa-solid fa-star"></i> <%= amenity.name %></p>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <!-- BOOKING SECTION -->
  <div class="booking-calendar container border rounded-3 shadow-sm mt-5 py-4 px-5 bg-light" data-controller="calendar" >
    <h1 class="text-center mb-3">Book This Flat</h1>
    <div class="row justify-content-around border py-4 bg-white">
      <div class="col-5 pt-2 me-3">
        <div id="events_calendar">
          <%= render "calendar", locals: {events: @bookings} %>
        </div>
        <p>Blacked out dates = fully booked</p>
      </div>

      <div class="col-4 pt-2 bg-danger bg-opacity-25">
        <% if user_signed_in? %>
          <%= render "form_booking" %>
        <% else %>
          <div class="message">
            <p>Please login in to book this flat</p>
            <%= link_to "Login", new_user_session_path, class: "btn btn-secondary-outline" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- REVIEW SECTION -->
  <% if @reviews.blank? == false && @reviews.first.nil? == false %>
    <div class="review container border rounded-3 shadow-sm mt-5 py-4 px-5 bg-light">
      <h1 class="text-center mb-3">See Other Guests' Reviews</h1>
      <% @reviews.each do |review| %>
        <div class="row justify-content-around border py-1 bg-white ">
          <div class="col-4 pt-2 me-3">
            <% if review.comment.nil? == false %>
              <p class="mb-1"><em>"<%= review.comment %>"</em> - <%= review.booking.user.first_name%></p>
            <% else %>
              <p class="mb-1"><em>"No Comment"</em> - <%= review.booking.user.first_name%></p>
            <% end %>
          </div>
          <div class="col-4 pt-2 me-3">
            <p  class="mb-1">Rating: <%= review.rating %>  <i class="fa-solid fa-star"></i></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <!-- MAP -->
  <div style="width: 100%; height: 400px;" class="mt-5"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
