<div class ="container my-3">

  <div class="navbar">
    <h1>IMAGES</h1>
    <div>
     <% if policy(@flat).edit? %>
        <%= link_to "Edit Listing", edit_user_flat_path(current_user, @flat), class: "btn btn-outline-warning hoverable" %>
        <%= link_to "Delete Listing", "#", class: "btn btn-outline-danger hoverable" %>
      <% end %>
  </div>
  </div>
  <div class="container row m-2">
    <div class="flex-grow-1 col-12 col-md-6">
      <% if @flat.photos.first.nil? %>
        <%= link_to cl_image_tag( "goldgate.jpg", class:"round-img p-0 img-fluid"), user_flat_path(@flat.user.id, @flat.id) %>
      <% else %>
        <%= cl_image_tag(@flat.photos.first.key, class:"img-fluid") %>
      <% end %>
    </div>
    <div class="col-6 col-md-6">
      <div class="row py-5">
        <% @flat.photos.each do |photo| %>
        <div class="card m-2 col-5">
          <%= cl_image_tag photo.key, class:"img-fluid" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <h1>DETAILS</h1>
  <div class="container border rounded-3 shadow-sm py-4 px-5 bg-light">
    <h1 class="d-flex justify-content-center"><%= @flat.name %></h1>

    <div class="container border rounded-3 py-4 px-5 d-flex justify-content-center">
      <p class="w-50 border-end m-0 pe-3"><%= @flat.description %></p>

      <div class="border-end m-0 px-3">
        <h2>Info</h2>
        <ul>
          <li>Location: <%= @flat.location %></li>
          <li>Price: $<%= @flat.price %></li>
          <li>Number of Occupants: <%= @flat.num_occupants %></li>
          <li>Number of Bedrooms: <%= @flat.num_bedroom %></li>
          <li>Number of Bathrooms: <%= @flat.num_bathroom %></li>
          <li>Owner: <%= "#{@flat.user.first_name}  #{@flat.user.last_name}" %></li>
        </ul>
      </div>

      <div class="m-0 ps-3">
        <h2>Amenities</h2>
        <ul>
          <% @flat.amenities.each do |amenity| %>
            <li><%= amenity.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <h1 class="mt-4 mb-3">BOOK THIS FLAT:</h1>
  <div class="row booking-calendar">
    <div class="col-5 pt-2 me-3">
      <div class="this-month">
        <%= month_calendar(events: @bookings_this_month, attribute: :start_date, end_attribute: :end_date) do |date, bookings| %>
          <%= date.day %>
          <% bookings.each do |booking| %>
            <div class="booking">
              <p>N/A</p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-4 pt-2 bg-danger bg-opacity-25">
      <%= render "form_booking" %>
    </div>
  </div>

  <h1>MAP</h1>
  <div style="width: 100%; height: 400px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
