<div class="container mt-3">
  <div class="navbar">
    <h1>Guest Dashboard</h1>
  </div>
  <div class="navbar">
    <h2>Welcome <%= current_user.first_name %>!</h2>
    <%= link_to "Switch to Host Dashboard", flats_path(current_user), class: "btn btn-outline-secondary" %>
  </div>

  <div class="border mb-3 p-3 bg-light">
    <div class="mb-3 navbar">
      <h3 class="m-0">Upcoming Bookings</h3>
      <%= link_to "Discover Flats", root_path, class: "btn btn-outline-secondary" %>
    </div>

    <div class="bg-white">
      <% @bookings_new.each do |booking| %>
        <div class="notification">
          <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
          <div class="notification-content">
            <p><small><%= booking.start_date %></small></p>
            <p><%= booking.flat.name %></p>
          </div>

          <div class="notification-actions">
             <%= link_to 'Edit <i class="fas fa-pencil-alt"></i>'.html_safe, edit_booking_path(booking), class: "text-decoration-none"  %>
            <%= link_to 'Delete <i class="far fa-trash-alt"></i>'.html_safe, booking, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-outline-danger hoverable", class: "text-decoration-none"  %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="border mb-3 p-3 bg-light">
    <div class="mb-3 navbar">
      <h3 class="m-0">Past Bookings</h3>
    </div>

    <div class="bg-white">
      <% @bookings_old.each do |booking| %>
        <div class="notification">
          <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
          <div class="notification-content">
            <p><small><%= booking.end_date %></small></p>
            <p><%= booking.flat.name %></p>
          </div>

          <div class="notification-actions">
            <a href="#">See Reviews <i class="fa-solid fa-star"></i></a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
