<h1>BOOKING SECTION</h1>
<div class="row booking-calendar">
  <div class="col-5">
    <div class="this-month">
      <%= month_calendar do |date| %>
        <%= date %>
      <% end %>
    </div>
  </div>
  <div class="col-5">
    <div class="next-month">
      <%= month_calendar do |date| %>
        <%= date %>
      <% end %>
    </div>
  </div>
  <div class="col-2">
    <%= simple_form_for ([@flat, @booking]) do |f| %>
      <%= f.error_notification %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.input :num_guests %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
