<div class="container">
  <div class="row mt-4">
    <div class="col-12 d-flex">
      <h1>Booking #<%= @booking.id %> <%= @booking.accepted && @booking.payment_received ? "Confirmed" : "Pending Confirmation" %></h1>
    </div>
  </div>
  <div class="row">
    <% if policy(@booking).edit? %>
      <div class="col-2">
        <%= link_to "Edit Booking", edit_booking_path(@booking), class: "btn btn-outline-primary" %>
      </div>
    <% end %>
    <% if policy(@booking).destroy? %>
      <div class="col-2">
        <%= link_to "Delete Booking", @booking, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-outline-danger hoverable" %>
      </div>
    <% end %>
  </div>
  <div class="row mt-3">
    <div class="col-5">
      <h2>Booking Details</h2>
      <p><strong>Start Date: </strong><%= @booking.start_date %></p>
      <p><strong>End Date: </strong><%= @booking.end_date %></p>
      <p><strong>Number of Guests: </strong><%= @booking.num_guests %></p>
      <br>
      <p><strong>Payment Status: </strong><%= @booking.payment_received.nil? ? "Payment Pending" : "Payment Received" %></p>
      <p><strong>Host Acceptance Status: </strong><%= @booking.accepted.nil? ? "Pending Host's Accept" : "Booking Accepted" %></p>
    </div>
    <div class="col-3">
      <h2>Payment</h2>
      <%# Need to connect this to stimulus to change payment status to true when clicked %>
      <%= link_to "Pay Now", payment_booking_path(@booking) %>
    </div>
    <%= link_to "See more Flats", flats_path %>
  </div>
</div>
