<div id="events-calendar" class="simple-calendar">
  <div class="calendar-heading text-center mb-2">
    <%= link_to t('simple_calendar.previous', default: 'Previous Month'), calendar.url_for_previous_view, remote: true, class: "btn btn-outline-secondary btn-sm me-1" %>
    <span class="calendar-title"><strong><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></strong></span>
    <%= link_to t('simple_calendar.next', default: 'Next Month'), calendar.url_for_next_view, remote: true, class: "btn btn-outline-secondary btn-sm ms-1" %>
  </div>

  <table class="table table-bordered border-danger">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day),data:{ action: "click->calendar#select_date" } do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
              <% else %>
                <% passed_block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
